.text {
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.2;
}


.text_size_s {
  font-size: 12px;
  line-height: 1.1;
}

.text_size_l {
  font-size: 24px;
  line-height: 1.6;
}


.text_color_secondary {
  color: var(--color-secondary);
}

.text_color_success {
  color: var(--color-success);
}

.text_color_failure {
  color: var(--color-failure);
}


.text_centered {
  text-align: center;
}
